<!DOCTYPE html>
html(lang="en")
	head
		title Vizitka
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(charset="UTF-8")
		style
			include ../Build/style.css
	body
		include slider
	//- script(src="JS.js")
	script
		include ../Build/script.js
	script(src="http://127.0.0.1:35729/livereload.js?ext=Firefox&extver=0.0.46")


